.main{
  background-image: url('../public/pexels-august-de-richelieu-4260643.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 8 0 rgba(0, 0, 0, 0.2), 0 6px 20ox 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

@media screen and (max-width: 480px){
  .main{
    background-image: none;
    background-color: #010b20;
    max-width: 480px;
  }
}
.iconmain{
  color: #e6e6e6;
  height: 44px;
  width: 41px;
  cursor: pointer;

}

